<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>changePasswordForUser</title>
</head>

<body>
<div id="container" style="width:1800px">

  <div id="header" style="background-color:#33CCCC;">
    <h1 style="margin-bottom:0;text-align:center">欢迎来到图书管理系统</h1></div>

  <div th:insert="commons::fragment-name"></div>

  <div id="content" style="background-color:#E0FFFF;height:1000px;width:80%;float:left;">
    <h2>更改密码</h2>
    <p th:text="${tip}"></p>
    <form action="/changePasswordForUser"  method="post">
      <div>
        <label>
          用户名<input type="text" name="name">
        </label>
      </div>
      <div>
        <label>
          密 码<input type="password" name="password">
        </label>
      </div>
      <div>
        <label>
          输入新密码<input type="password" name="newPassword">
        </label>
      </div>
      <div>
        <label>
          确认新密码<input type="password" name="newPassword1">
        </label>
      </div>
      <div>
        <input type="submit" value="提交">
      </div>
    </form>
  </div>
</div>
</body>
</html>

