<div th:fragment="fragment-name" id="fragment-id">
    <span>

<div id="menu" style="background-color:#D0D0D0;height:1000px;width:20%;float:left;">
    <ul>
        图书管理
        <li><a href="/newBook">上架图书</a></li>
        <li><a href="/borrowBook">借书</a> </li>
        <li><a href="/returnBook">还书</a> </li>
        <li><a href="/bookListForUser">查看图书列表</a></li>
        <li><a href="/historyListForUser">查看历史记录</a> </li>
    </ul>
    <ul>
        系统管理
        <li><a href="/userList">用户列表</a> </li>
        <li><a href="/deposit">押金</a></li>
        <li><a href="/registerUser">添加用户</a> </li>
        <li><a href="/deleteUser">删除用户</a> </li>
        <li><a href="/changePasswordForUser">更改密码</a></li>
        <li><a href="/login">退出系统</a></li>
    </ul>
</div>
    </span>
</div>


<div th:fragment="fragment-name1" id="fragment-id1">
    <span>

<div id="menu1" style="background-color:#D0D0D0;height:1000px;width:20%;float:left;">
    <ul>
        图书管理
        <li><a href="/bookList">查看图书列表</a></li>
        <li><a href="/reserve">预约图书</a></li>
        <li><a href="/depositForReader">查看押金记录</a></li>
        <li><a href="/historyList">查看借阅记录</a></li>
    </ul>
    <ul>
        个人管理
        <li><a href="/changePassword">更改密码</a></li>
        <li><a href="/login">退出系统</a></li>
    </ul>
</div>
    </span>
</div>