<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>returnBook</title>
</head>

<body>
<div id="header" style="background-color:#33CCCC;">
  <h1 style="margin-bottom:0;text-align:center">欢迎来到图书管理系统</h1></div>

<div th:insert="commons::fragment-name"></div>

<div id="content" style="background-color:#E0FFFF;height:1000px;width:80%;float:left;">
  <h2>归还图书</h2>
  <p th:text="${tip}"></p>
  <form action="/returnBook" method="post">
    <div>
      <label>
        请输入书本id
        <input type="number" name="id">
      </label>
    </div>
    <div>
      <label>
        请输入借书人id
        <input type="number" name="userId">
      </label>
    </div>
    <div>
      <label>
        <input type="submit" value="确定">
      </label>
    </div>
  </form>
</div>
</body>
</html>